<section>
  <div class="well">
    <h3>
      JS Scoping Questions Loaded: Check the console yo!
    </h3>
  </div>
  <pre>
    The code that is for this section can be found at 'app/components/js-scope.js'
  </pre>
  {{yield}}
</section>
