<section class="jumbotron">
  <span class="page-header">
    <h1>UI Engineering Studygude</h1>
  </span>
  <p>
  This studyguide runs in the dev console. To check the sample question outputs,
  use google chrome and open the crome dev tools and open the JS dev console by pressing 'command + SHIFT+ C'.
  </p>
</section>
